@import './reset.css';
@import 'config';
@import 'fonts';
* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: $bg-main;
  font-family: 'Poppins', sans-serif;
  color: $main-color;
  font-size: calc(clamp(1rem, 1vw, 38px));
}

::-webkit-scrollbar {
  width: 18px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $main-theme;
  background-clip: padding-box;
  border: 5px solid rgba(0, 0, 0, 0);
  border-radius: 15px;
  margin-right: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #9c7575;
  background-clip: padding-box;
  border: 5px solid rgba(0, 0, 0, 0);
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
}
p {
  margin: 0;
}

h1 {
  font-size: clamp(1.8rem, 6vw, 3.5rem);
}
h2 {
  font-size: clamp(1.3rem, 2.7vw, 2.5rem);
  padding: 1.5vh 0;
}
h1,
h2,
h3 {
  font-weight: 700;
}

button,
a {
  transition: all 0.1s;
  &:hover {
    opacity: 0.8;
  }
}
.btn {
  padding: 5px 10px;
  transition: all 0.1s;
  cursor: pointer;
  background-color: $bg-main;
  border: none;
  border-radius: 3px;
  box-shadow: 1px 0px 1px $border, 0px 1px 1px $border, 2px 1px 1px $border,
    1px 2px 1px $border, 3px 2px 1px $border, 2px 3px 1px $border;
  &:active,
  &.active {
    border: none;
    box-shadow: 1px 0px 1px $border, 0px 1px 1px $border, 2px 1px 1px $border;
    transform: translate(1px, 1px);
  }
  &:hover {
    opacity: 1;
    color: lighten($color: $main-color, $amount: 10);
  }
}

%flex-column-rules {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}

%padding {
  padding: 15px;
}

%add-overflow {
  overflow: scroll;
  overflow-x: hidden;
}

%text-overflow {
  text-overflow: ellipsis;
  white-space: normal;
  overflow: hidden;
  word-break: break-all;
}

@keyframes open {
  0% {
    display: block;
    opacity: 0;
    visibility: hidden;
  }
  100% {
    display: block;
    opacity: 1;
    visibility: visible;
  }
}

@keyframes close {
  0% {
    display: block;
    opacity: 1;
    visibility: visible;
  }
  100% {
    display: block;
    opacity: 0;
    visibility: hidden;
  }
}

.message {
  display: none;
  &.show {
    animation: open 1s ease-in-out 0s 1 normal forwards;
  }
  &.hidden {
    animation: close 1s ease-in-out 0s 1 normal forwards;
  }
}

// STYLES ////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////

.container {
  color: $main-theme;
  width: 100%;
  padding: 0 15px;
}

header {
  margin-bottom: 15px;
  padding: 10px;
  background-color: $main-theme;
  color: $bg-main;
  position: relative;
}

#change-measure-btn{
  position: absolute;
  bottom: 50%;
  top: 50%;
  height: max-content;
  transform: translateY(-50%);
  right: 15px;
}

main {
}

#general-info-container * {
  margin-bottom: 5px;
}

#locationInput {
  margin: 5px;
  background-color: rgba(212, 144, 144, 0.667);
  padding: 0 5px;
  border-radius: 15px;
}

#today-temp {
  margin-bottom: 15px;
}

#icon-box {
  border-radius: 15%;
  background-color: rgba(197, 122, 122, 0.667);
}

#current-temp-description::first-letter {
  text-transform: capitalize;
}

#current-temp-additional{
  margin-top: 10px;
  display: flex;
  gap: 15px;
}


#forecast {
  padding: 15px;
  background-color: $main-theme-light;
  border-radius: 15px;

  h2 {
    color: #fff;
  font-size: clamp(1.4rem, 2.7vw, 2.5rem);
    margin-bottom: 10px;
  }
}

#forecast-container {
  display: grid;
  grid-template: repeat(2, max-content) / repeat(auto-fit, minmax(180px, 1fr));
  gap: 15px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.day {
  background-color: $bg-main;
  border-radius: 15px;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  & * {
    margin-bottom: 5px;
  }
}

h3 {
  font-size: clamp(1.1rem, 2.5vw, 2.3rem);
  &+p{
    padding-left: 15px;
  }
}

.weather-container{
  display: flex;
  gap: 10px;
}

.image-box {
  border-radius: 15px;
  background-color: rgba(197, 122, 122, 0.667);
  margin-bottom: 10px;
  width: fit-content;
}

.day-temp {
  font-size: clamp(1.2rem, 2.5vw, 2.5rem);
}

.day-description::first-letter {
  text-transform: capitalize;
}

// MEDIA /////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////

@media (max-width: 768px) {
  ::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
  .container {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }
}
