@import './reset.css';
@import 'config';
@import 'fonts';
* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: $bg-main;
  font-family: 'Poppins', sans-serif;
  color: $main-color;
  font-size: calc(clamp(1rem, 1vw, 38px));
}

::-webkit-scrollbar {
  width: 18px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $main-theme;
  background-clip: padding-box;
  border: 5px solid rgba(0, 0, 0, 0);
  border-radius: 15px;
  margin-right: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #9c7575;
  background-clip: padding-box;
  border: 5px solid rgba(0, 0, 0, 0);
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
}
p {
  margin: 0;
}

h1 {
  font-size: clamp(1.8rem, 6vw, 3.5rem);
}
h2 {
  font-size: clamp(1.3rem, 2.7vw, 2.5rem);
  padding: 1.5vh 0;
}
h1,
h2,
h3 {
  font-weight: 700;
}

button,
a {
  transition: all 0.1s;
  &:hover {
    opacity: 0.8;
  }
}
.btn {
  padding: 5px 10px;
  transition: all 0.1s;
  cursor: pointer;
  background-color: $bg-main;
  border: none;
  border-radius: 3px;
  box-shadow: 1px 0px 1px $border, 0px 1px 1px $border, 2px 1px 1px $border,
    1px 2px 1px $border, 3px 2px 1px $border, 2px 3px 1px $border;
  &:active,
  &.active {
    border: none;
    box-shadow: 1px 0px 1px $border, 0px 1px 1px $border, 2px 1px 1px $border;
    transform: translate(1px, 1px);
  }
  &:hover {
    opacity: 1;
    color: lighten($color: $main-color, $amount: 10);
  }
}

%flex-column-rules {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}

%padding {
  padding: 15px;
}

%add-overflow {
  overflow: scroll;
  overflow-x: hidden;
}

%text-overflow {
  text-overflow: ellipsis;
  white-space: normal;
  overflow: hidden;
  word-break: break-all;
}

.list_dropdown-menu {
  position: relative;
  .dropdown-btn {
    display: flex;
    gap: 5px;
    height: 1ch;
    transform: translateY(1ch);
    .btn-dot {
      pointer-events: none;
      width: 4px;
      height: 4px;
      border-radius: 15px;
      background-color: #fff;
    }
  }
  .dropdown-content {
    position: absolute;
    flex-direction: column;
    display: none;
    padding: 10px;
    z-index: 2;
    gap: 5px;
    border-radius: 5px;
    background-color: $bg-main;
    box-shadow: 1px 0px 1px $border, 0px 1px 1px $border, 2px 1px 1px $border,
      1px 2px 1px $border, 3px 2px 1px $border, 2px 3px 1px $border;
    button {
      font-size: calc(clamp(1rem, 1vw, 38px));
      color: $main-color;
    }
  }
  [data-dropdown-visible] {
    display: flex;
  }
}

// STYLES ////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////

.container {
  color: $main-theme;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: max-content auto;
  grid-template-columns: calc(min(25ch, 100%)) auto;
  grid-template-areas:
    'header header'
    'nav main';
  header {
    grid-area: header;
  }

  nav {
    grid-area: nav;
  }

  main {
    grid-area: main;
  }

  // POP-UP-FORM ///////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////////////
  #overlay.visually-hidden {
    opacity: 0;
  }
  #overlay.hidden {
    display: none;
  }

  #overlay {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: opacify($color: transparent, $amount: 0.4);
    transition: all 0.5s;
  }

  #pop-up-form {
    display: flex;
    align-items: start;
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    margin-left: 0;
    width: calc(max(20vw, 30ch));
    @extend %padding, %flex-column-rules;
    gap: 5px;
    z-index: 1;
    background-color: $main-theme;
    border-radius: 5%;
    box-shadow: 1px 0px 1px $border, 0px 1px 1px $border, 2px 1px 1px $border,
      1px 2px 1px $border, 3px 2px 1px $border, 2px 3px 1px $border;
    input,
    textarea {
      width: 100%;
      border: none;
      border-radius: 3px;
      box-shadow: 1px 0px 1px #d9d5d5, 0px 1px 1px #d9d5d5, 2px 1px 1px #d9d5d5,
        1px 2px 1px #d9d5d5;
      border-radius: 5px;
      padding: 3px 5px;
      margin: 0 0 5px;
    }
  }

  .error-para {
    display: none;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: $bg-main;
    color: $main-theme;
    position: relative;
    &::after {
      content: '!';
      color: #fff;
      font-size: 10px;
      padding-top: 2px;
      text-align: center;
      width: 13px;
      height: 13px;
      background-color: #b91a1a;
      position: absolute;
      border-radius: 50%;
      right: -4px;
      bottom: -4px;
    }
  }

  .error-active {
    display: block;
    padding: 10px;
  }
}

// MEDIA /////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////

@media (max-width: 768px) {
  ::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
  .container {
    display: block;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }
}
